<!DOCTYPE html>
<html>
<head>
 <title>We Meet In Toulouse | <%= yield(:title) =%></title>
 <%= stylesheet_link_tag    "application", media: "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id='header'>
      <div class='inner_container'>
        <h1>
          <a href='/'>
            <span>We</span>MeetInToulouse
          </a>
        </h1>

      </div>
      <ul id='main_nav'>
        <li class='nohome'><a href="/home">Le calendrier</a></li>
        <li class='nohome'><a href="/about">Le projet</a></li>
      </ul>

    </div>

    <div class="row">
      <div class="eleven column centered">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <hr />
      <div class="content">
        <ul>
          <li>Ajoutez à votre agenda </li>
          <li><%= link_to "iCal",   'http://www.google.com/calendar/ical/titkqiqe5bsg7ij1hh757f2hvg%40group.calendar.google.com/public/basic.ics' %></li>
          <li><%= link_to "Xml", 'http://www.google.com/calendar/feeds/titkqiqe5bsg7ij1hh757f2hvg%40group.calendar.google.com/public/basic' %></li>
        </ul>
      </div>
    </div>
  </body>
</html>